<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>USERS</h1>
    <div>
        <a href="/users">Show all users</a>
    </div>
     <a href="/users/new">Create new users</a>
     <div>

</body>
</html>
